body{
    background-color: rgb(236, 236, 236);
}

#linhas{
}



#titulo{
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(77, 95, 173);
    text-align: center;
    margin-top: 200px;
    margin-right: 500px;
}

#subTitulo{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(73, 69, 69);
    text-align: center;
    margin-right: 500px;
}

#bloco{
    height: 50px;
    width: 50px;
    border: 3px black solid;
    background-color: rgb(141, 141, 245);
    display: inline-block;
    margin-left: 700px;
}